{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Register Page {% endblock %}

{% block content %}

        
        <section class="vh-100 bg-image"
            style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRi6MOoV-zrTZSaC6yonSoT7GqjVaPws9c1Ag&usqp=CAU'); background-size:cover;">
            <div class="mask d-flex align-items-center h-100 ">
                <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div style="border-radius: 15px;">
                        <div class="card-body p-4">
                        <h4 class="text-center mb-4">Create an account</h4>

                        <form method="post" action="{% url 'users:register' %}">
                            {% csrf_token %}
            
                            {{ form | crispy }} 

                            <div class="d-flex justify-content-center">
                            <button type="submit"
                                class="btn btn-outline-dark btn-lg mt-3">Register</button>
                            </div>

                            <p class="text-center text-muted mt-3 mb-0">Have already an account? <a href="{% url 'users:login' %}"
                                class="fw-bolder text-body"><u>Login here</u></a></p>

                        </form>

                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </section>

{% endblock %}