{% extends "base.html" %}

{% block content %}
    {% comment %} <span class="mb-4">Goodreads</span> {% endcomment %}
    
    <h1 class="jt --debug ">
        <span class="jt__row">
          <span class="jt__text">Goodreads</span>
        </span>
        <span class="jt__row jt__row--sibling" aria-hidden="true">
          <span class="jt__text">Goodreads</span>
        </span>
        <span class="jt__row jt__row--sibling" aria-hidden="true">
          <span class="jt__text">Goodreads</span>
        </span>
        <span class="jt__row jt__row--sibling" aria-hidden="true">
          <span class="jt__text">Goodreads</span>
        </span>
    </h1>

    <div class="library mb-4 rounded">
        <div class="col-6 ms-5">
            <p class="col-9  p-5" style="color: #fff; "> <b>Goodreads</b> is the world`s largest site for readers and book recommendations.
                Our mission is to help people find and share books they love. Goodreads launched in January 2007.</p>

            <h5 class="col-9 ms-5" style="color: #fff; ">Book discovery</h5>
            <p class="col-9 ms-5" style="color: #fff; ">On the Goodreads website, users can add books to their personal bookshelves, rate and review books, see what their friends and authors are reading, 
                participate in discussion boards and groups on a variety of topics, and get suggestions for future reading choices based on their reviews of previously read books</p>
            
        </div>
    </div>



    <footer class="me-auto" style="background-color: rgb(11, 130, 228); width:1300px">     
        <div class="text-center p-2 " style="background-color: rgba(0, 0, 0, 0.2);">
            <div>
                <a href="https://github.com/Asadbek-Web"><img  class="mx-1 footer-icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTut0MEnAzgz3ejcE4eWIXHwQbafdMTOr5Fo2JwWH3zlyBF6j4ozmXdsaSdt73hZli4R0Y&usqp=CAU"></a>
                <a href="https://t.me/Abdumalikov_A_Z"><img  class="mx-1 footer-icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPPn2ndg3PnycZSczVsg0zIoFx9rnDJ9btfw&usqp=CAU"></i></a>
                <a href="mailto:asadbekabdumalikovfifth@gmail.com"><img class="mx-1 footer-icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTT4tNXUcGpAX_ywFok1ADMfGGX6_NVdcg6qA&usqp=CAU"></a>
            
            </div>

            <p class="mt-1 mb-1">Asadbek_Abdumalikov &trade; | 2022</p>
        </div>
    </footer>
    

{% endblock %}